/* [ FlexTabke ] >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

.flex_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  /* [ portion ]================================================== */
  /* ------------------------------------------ */
  /* ------------------------------------------ */
  /* [ direction ] ================================================= */
  /* ------------ */
  /* ============================ */
  /* ------------ */ }
  .flex_table .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-basis: 100%; }
  .flex_table.no-gutters-all.no-gutters-all [class*="col-"],
  .flex_table .no-gutters-all [class*="col-"],
  .flex_table .no-gutters-self,
  .flex_table .no-gutters > .col,
  .flex_table .no-gutter > [class*="col-"],
  .flex_table .no-gutters > [class*="col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .flex_table [class*="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    word-break: break-all; }
    .flex_table [class*="col-"] .col_inner,
    .flex_table [class*="col-"] .col_inner_100 {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%; }
  .flex_table [class*="col-"] > * {
    max-width: 100%; }
  .flex_table.padding_s [class*="col-"] {
    padding: 10px; }
  .flex_table.padding_m [class*="col-"] {
    padding: 15px; }
  .flex_table.padding_l [class*="col-"] {
    padding: 25px; }
  .flex_table [class*="col-"].padding_s {
    padding: 10px; }
  .flex_table [class*="col-"].padding_m {
    padding: 15px; }
  .flex_table [class*="col-"].padding_l {
    padding: 25px; }
  .flex_table .col {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .flex_table .col-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto; }
  .flex_table .col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .flex_table .col-10p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%; }
  .flex_table .col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .flex_table .col-20p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .flex_table .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .flex_table .col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .flex_table .col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .flex_table .col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .flex_table .col-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .flex_table .col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .flex_table .col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .flex_table .col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .flex_table .col-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .flex_table .col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .flex_table .pull-0 {
    right: auto; }
  .flex_table .pull-1 {
    right: 8.333333%; }
  .flex_table .pull-10p {
    right: 10%; }
  .flex_table .pull-2 {
    right: 16.666667%; }
  .flex_table .pull-20p {
    right: 20%; }
  .flex_table .pull-3 {
    right: 25%; }
  .flex_table .pull-4 {
    right: 33.333333%; }
  .flex_table .pull-5 {
    right: 41.666667%; }
  .flex_table .pull-6 {
    right: 50%; }
  .flex_table .pull-7 {
    right: 58.333333%; }
  .flex_table .pull-8 {
    right: 66.666667%; }
  .flex_table .pull-9 {
    right: 75%; }
  .flex_table .pull-10 {
    right: 83.333333%; }
  .flex_table .pull-11 {
    right: 91.666667%; }
  .flex_table .pull-12 {
    right: 100%; }
  .flex_table .push-0 {
    left: auto; }
  .flex_table .push-1 {
    left: 8.333333%; }
  .flex_table .push-10 {
    left: 10%; }
  .flex_table .push-2 {
    left: 16.666667%; }
  .flex_table .push-20p {
    left: 20%; }
  .flex_table .push-3 {
    left: 25%; }
  .flex_table .push-4 {
    left: 33.333333%; }
  .flex_table .push-5 {
    left: 41.666667%; }
  .flex_table .push-6 {
    left: 50%; }
  .flex_table .push-7 {
    left: 58.333333%; }
  .flex_table .push-8 {
    left: 66.666667%; }
  .flex_table .push-9 {
    left: 75%; }
  .flex_table .push-10 {
    left: 83.333333%; }
  .flex_table .push-11 {
    left: 91.666667%; }
  .flex_table .push-12 {
    left: 100%; }
  .flex_table .offset-1 {
    margin-left: 8.333333%; }
  .flex_table .offset-10p {
    margin-left: 10%; }
  .flex_table .offset-2 {
    margin-left: 16.666667%; }
  .flex_table .offset-20p {
    margin-left: 20%; }
  .flex_table .offset-3 {
    margin-left: 25%; }
  .flex_table .offset-4 {
    margin-left: 33.333333%; }
  .flex_table .offset-5 {
    margin-left: 41.666667%; }
  .flex_table .offset-6 {
    margin-left: 50%; }
  .flex_table .offset-7 {
    margin-left: 58.333333%; }
  .flex_table .offset-8 {
    margin-left: 66.666667%; }
  .flex_table .offset-9 {
    margin-left: 75%; }
  .flex_table .offset-10 {
    margin-left: 83.333333%; }
  .flex_table .offset-11 {
    margin-left: 91.666667%; }
  @media (min-width: 576px) {
    .flex_table .col-sm {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .flex_table .col-sm-auto {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto; }
    .flex_table .col-sm-1 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    .flex_table .col-sm-10p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%; }
    .flex_table .col-sm-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    .flex_table .col-sm-20p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; }
    .flex_table .col-sm-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    .flex_table .col-sm-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    .flex_table .col-sm-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    .flex_table .col-sm-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .flex_table .col-sm-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    .flex_table .col-sm-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    .flex_table .col-sm-9 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .flex_table .col-sm-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    .flex_table .col-sm-11 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    .flex_table .col-sm-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .flex_table .pull-sm-0 {
      right: auto; }
    .flex_table .pull-sm-1 {
      right: 8.333333%; }
    .flex_table .pull-sm-10p {
      right: 10%; }
    .flex_table .pull-sm-2 {
      right: 16.666667%; }
    .flex_table .pull-sm-20p {
      right: 20%; }
    .flex_table .pull-sm-3 {
      right: 25%; }
    .flex_table .pull-sm-4 {
      right: 33.333333%; }
    .flex_table .pull-sm-5 {
      right: 41.666667%; }
    .flex_table .pull-sm-6 {
      right: 50%; }
    .flex_table .pull-sm-7 {
      right: 58.333333%; }
    .flex_table .pull-sm-8 {
      right: 66.666667%; }
    .flex_table .pull-sm-9 {
      right: 75%; }
    .flex_table .pull-sm-10 {
      right: 83.333333%; }
    .flex_table .pull-sm-11 {
      right: 91.666667%; }
    .flex_table .pull-sm-12 {
      right: 100%; }
    .flex_table .push-sm-0 {
      left: auto; }
    .flex_table .push-sm-1 {
      left: 8.333333%; }
    .flex_table .push-sm-2 {
      left: 16.666667%; }
    .flex_table .push-sm-3 {
      left: 25%; }
    .flex_table .push-sm-4 {
      left: 33.333333%; }
    .flex_table .push-sm-5 {
      left: 41.666667%; }
    .flex_table .push-sm-6 {
      left: 50%; }
    .flex_table .push-sm-7 {
      left: 58.333333%; }
    .flex_table .push-sm-8 {
      left: 66.666667%; }
    .flex_table .push-sm-9 {
      left: 75%; }
    .flex_table .push-sm-10 {
      left: 83.333333%; }
    .flex_table .push-sm-11 {
      left: 91.666667%; }
    .flex_table .push-sm-12 {
      left: 100%; }
    .flex_table .offset-sm-0 {
      margin-left: 0%; }
    .flex_table .offset-sm-1 {
      margin-left: 8.333333%; }
    .flex_table .offset-sm-10p {
      margin-left: 10%; }
    .flex_table .offset-sm-2 {
      margin-left: 16.666667%; }
    .flex_table .offset-sm-20p {
      margin-left: 20%; }
    .flex_table .offset-sm-3 {
      margin-left: 25%; }
    .flex_table .offset-sm-4 {
      margin-left: 33.333333%; }
    .flex_table .offset-sm-5 {
      margin-left: 41.666667%; }
    .flex_table .offset-sm-6 {
      margin-left: 50%; }
    .flex_table .offset-sm-7 {
      margin-left: 58.333333%; }
    .flex_table .offset-sm-8 {
      margin-left: 66.666667%; }
    .flex_table .offset-sm-9 {
      margin-left: 75%; }
    .flex_table .offset-sm-10 {
      margin-left: 83.333333%; }
    .flex_table .offset-sm-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 768px) {
    .flex_table .col-md {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .flex_table .col-md-auto {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto; }
    .flex_table .col-md-1 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    .flex_table .col-md-10p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%; }
    .flex_table .col-md-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    .flex_table .col-md-20p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; }
    .flex_table .col-md-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    .flex_table .col-md-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    .flex_table .col-md-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    .flex_table .col-md-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .flex_table .col-md-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    .flex_table .col-md-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    .flex_table .col-md-9 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .flex_table .col-md-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    .flex_table .col-md-11 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    .flex_table .col-md-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .flex_table .pull-md-0 {
      right: auto; }
    .flex_table .pull-md-1 {
      right: 8.333333%; }
    .flex_table .pull-md-10p {
      right: 10%; }
    .flex_table .pull-md-2 {
      right: 16.666667%; }
    .flex_table .pull-md-20p {
      right: 20%; }
    .flex_table .pull-md-3 {
      right: 25%; }
    .flex_table .pull-md-4 {
      right: 33.333333%; }
    .flex_table .pull-md-5 {
      right: 41.666667%; }
    .flex_table .pull-md-6 {
      right: 50%; }
    .flex_table .pull-md-7 {
      right: 58.333333%; }
    .flex_table .pull-md-8 {
      right: 66.666667%; }
    .flex_table .pull-md-9 {
      right: 75%; }
    .flex_table .pull-md-10 {
      right: 83.333333%; }
    .flex_table .pull-md-11 {
      right: 91.666667%; }
    .flex_table .pull-md-12 {
      right: 100%; }
    .flex_table .push-md-0 {
      left: auto; }
    .flex_table .push-md-1 {
      left: 8.333333%; }
    .flex_table .push-md-10p {
      left: 10%; }
    .flex_table .push-md-2 {
      left: 16.666667%; }
    .flex_table .push-md-20p {
      left: 20%; }
    .flex_table .push-md-3 {
      left: 25%; }
    .flex_table .push-md-4 {
      left: 33.333333%; }
    .flex_table .push-md-5 {
      left: 41.666667%; }
    .flex_table .push-md-6 {
      left: 50%; }
    .flex_table .push-md-7 {
      left: 58.333333%; }
    .flex_table .push-md-8 {
      left: 66.666667%; }
    .flex_table .push-md-9 {
      left: 75%; }
    .flex_table .push-md-10 {
      left: 83.333333%; }
    .flex_table .push-md-11 {
      left: 91.666667%; }
    .flex_table .push-md-12 {
      left: 100%; }
    .flex_table .offset-md-0 {
      margin-left: 0%; }
    .flex_table .offset-md-1 {
      margin-left: 8.333333%; }
    .flex_table .offset-md-10p {
      margin-left: 10%; }
    .flex_table .offset-md-2 {
      margin-left: 16.666667%; }
    .flex_table .offset-md-20p {
      margin-left: 20%; }
    .flex_table .offset-md-3 {
      margin-left: 25%; }
    .flex_table .offset-md-4 {
      margin-left: 33.333333%; }
    .flex_table .offset-md-5 {
      margin-left: 41.666667%; }
    .flex_table .offset-md-6 {
      margin-left: 50%; }
    .flex_table .offset-md-7 {
      margin-left: 58.333333%; }
    .flex_table .offset-md-8 {
      margin-left: 66.666667%; }
    .flex_table .offset-md-9 {
      margin-left: 75%; }
    .flex_table .offset-md-10 {
      margin-left: 83.333333%; }
    .flex_table .offset-md-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 992px) {
    .flex_table .col-lg {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .flex_table .col-lg-auto {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto; }
    .flex_table .col-lg-1 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    .flex_table .col-lg-10p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%; }
    .flex_table .col-lg-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    .flex_table .col-lg-20p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; }
    .flex_table .col-lg-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    .flex_table .col-lg-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    .flex_table .col-lg-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    .flex_table .col-lg-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .flex_table .col-lg-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    .flex_table .col-lg-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    .flex_table .col-lg-9 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .flex_table .col-lg-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    .flex_table .col-lg-11 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    .flex_table .col-lg-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .flex_table .pull-lg-0 {
      right: auto; }
    .flex_table .pull-lg-1 {
      right: 8.333333%; }
    .flex_table .pull-lg-10p {
      right: 10%; }
    .flex_table .pull-lg-2 {
      right: 16.666667%; }
    .flex_table .pull-lg-20p {
      right: 20%; }
    .flex_table .pull-lg-3 {
      right: 25%; }
    .flex_table .pull-lg-4 {
      right: 33.333333%; }
    .flex_table .pull-lg-5 {
      right: 41.666667%; }
    .flex_table .pull-lg-6 {
      right: 50%; }
    .flex_table .pull-lg-7 {
      right: 58.333333%; }
    .flex_table .pull-lg-8 {
      right: 66.666667%; }
    .flex_table .pull-lg-9 {
      right: 75%; }
    .flex_table .pull-lg-10 {
      right: 83.333333%; }
    .flex_table .pull-lg-11 {
      right: 91.666667%; }
    .flex_table .pull-lg-12 {
      right: 100%; }
    .flex_table .push-lg-0 {
      left: auto; }
    .flex_table .push-lg-1 {
      left: 8.333333%; }
    .flex_table .push-lg-10p {
      left: 10%; }
    .flex_table .push-lg-2 {
      left: 16.666667%; }
    .flex_table .push-lg-20p {
      left: 20%; }
    .flex_table .push-lg-3 {
      left: 25%; }
    .flex_table .push-lg-4 {
      left: 33.333333%; }
    .flex_table .push-lg-5 {
      left: 41.666667%; }
    .flex_table .push-lg-6 {
      left: 50%; }
    .flex_table .push-lg-7 {
      left: 58.333333%; }
    .flex_table .push-lg-8 {
      left: 66.666667%; }
    .flex_table .push-lg-9 {
      left: 75%; }
    .flex_table .push-lg-10 {
      left: 83.333333%; }
    .flex_table .push-lg-11 {
      left: 91.666667%; }
    .flex_table .push-lg-12 {
      left: 100%; }
    .flex_table .offset-lg-0 {
      margin-left: 0%; }
    .flex_table .offset-lg-1 {
      margin-left: 8.333333%; }
    .flex_table .offset-lg-10p {
      margin-left: 10%; }
    .flex_table .offset-lg-2 {
      margin-left: 16.666667%; }
    .flex_table .offset-lg-20p {
      margin-left: 20%; }
    .flex_table .offset-lg-3 {
      margin-left: 25%; }
    .flex_table .offset-lg-4 {
      margin-left: 33.333333%; }
    .flex_table .offset-lg-5 {
      margin-left: 41.666667%; }
    .flex_table .offset-lg-6 {
      margin-left: 50%; }
    .flex_table .offset-lg-7 {
      margin-left: 58.333333%; }
    .flex_table .offset-lg-8 {
      margin-left: 66.666667%; }
    .flex_table .offset-lg-9 {
      margin-left: 75%; }
    .flex_table .offset-lg-10 {
      margin-left: 83.333333%; }
    .flex_table .offset-lg-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 1200px) {
    .flex_table .col-xl {
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .flex_table .col-xl-auto {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto; }
    .flex_table .col-xl-1 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.333333%;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    .flex_table .col-xl-10p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10%;
      -ms-flex: 0 0 10%;
      flex: 0 0 10%;
      max-width: 10%; }
    .flex_table .col-xl-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.666667%;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    .flex_table .col-xl-20p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; }
    .flex_table .col-xl-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    .flex_table .col-xl-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.333333%;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    .flex_table .col-xl-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    .flex_table .col-xl-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .flex_table .col-xl-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    .flex_table .col-xl-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    .flex_table .col-xl-9 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .flex_table .col-xl-10 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.333333%;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    .flex_table .col-xl-11 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 91.666667%;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    .flex_table .col-xl-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .flex_table .pull-xl-0 {
      right: auto; }
    .flex_table .pull-xl-1 {
      right: 8.333333%; }
    .flex_table .pull-xl-10p {
      right: 10%; }
    .flex_table .pull-xl-2 {
      right: 16.666667%; }
    .flex_table .pull-xl-20p {
      right: 20%; }
    .flex_table .pull-xl-3 {
      right: 25%; }
    .flex_table .pull-xl-4 {
      right: 33.333333%; }
    .flex_table .pull-xl-5 {
      right: 41.666667%; }
    .flex_table .pull-xl-6 {
      right: 50%; }
    .flex_table .pull-xl-7 {
      right: 58.333333%; }
    .flex_table .pull-xl-8 {
      right: 66.666667%; }
    .flex_table .pull-xl-9 {
      right: 75%; }
    .flex_table .pull-xl-10 {
      right: 83.333333%; }
    .flex_table .pull-xl-11 {
      right: 91.666667%; }
    .flex_table .pull-xl-12 {
      right: 100%; }
    .flex_table .push-xl-0 {
      left: auto; }
    .flex_table .push-xl-1 {
      left: 8.333333%; }
    .flex_table .push-xl-10p {
      left: 10%; }
    .flex_table .push-xl-2 {
      left: 16.666667%; }
    .flex_table .push-xl-20p {
      left: 20%; }
    .flex_table .push-xl-3 {
      left: 25%; }
    .flex_table .push-xl-4 {
      left: 33.333333%; }
    .flex_table .push-xl-5 {
      left: 41.666667%; }
    .flex_table .push-xl-6 {
      left: 50%; }
    .flex_table .push-xl-7 {
      left: 58.333333%; }
    .flex_table .push-xl-8 {
      left: 66.666667%; }
    .flex_table .push-xl-9 {
      left: 75%; }
    .flex_table .push-xl-10 {
      left: 83.333333%; }
    .flex_table .push-xl-11 {
      left: 91.666667%; }
    .flex_table .push-xl-12 {
      left: 100%; }
    .flex_table .offset-xl-0 {
      margin-left: 0%; }
    .flex_table .offset-xl-1 {
      margin-left: 8.333333%; }
    .flex_table .offset-xl-10p {
      margin-left: 10%; }
    .flex_table .offset-xl-2 {
      margin-left: 16.666667%; }
    .flex_table .offset-xl-20p {
      margin-left: 20%; }
    .flex_table .offset-xl-3 {
      margin-left: 25%; }
    .flex_table .offset-xl-4 {
      margin-left: 33.333333%; }
    .flex_table .offset-xl-5 {
      margin-left: 41.666667%; }
    .flex_table .offset-xl-6 {
      margin-left: 50%; }
    .flex_table .offset-xl-7 {
      margin-left: 58.333333%; }
    .flex_table .offset-xl-8 {
      margin-left: 66.666667%; }
    .flex_table .offset-xl-9 {
      margin-left: 75%; }
    .flex_table .offset-xl-10 {
      margin-left: 83.333333%; }
    .flex_table .offset-xl-11 {
      margin-left: 91.666667%; } }
  .flex_table .row.h_left {
    justify-content: flex-start; }
  .flex_table .row.h_center {
    justify-content: center; }
  .flex_table .row.h_right {
    justify-content: flex-end; }
  .flex_table .row.h_between {
    justify-content: space-between; }
  .flex_table .row.h_between::before,
  .flex_table .row.h_between::after {
    display: none; }
  .flex_table .row.h_left > [class*="col-"] {
    justify-content: flex-start; }
  .flex_table .row.h_center > [class*="col-"] {
    justify-content: center; }
  .flex_table .row.h_right > [class*="col-"] {
    justify-content: flex-end; }
  .flex_table .row.h_between > [class*="col-"] {
    justify-content: space-between; }
  .flex_table .row.h_between > [class*="col-"]::before,
  .flex_table .row.h_between > [class*="col-"]::after {
    display: none; }
  .flex_table .row.h_left_all > [class*="col-"] {
    justify-content: flex-start; }
  .flex_table .row.h_center_all > [class*="col-"] {
    justify-content: center; }
  .flex_table .row.h_right_all > [class*="col-"] {
    justify-content: flex-end; }
  .flex_table .row.h_left_all > [class*="col-"] * {
    text-align: left; }
  .flex_table .row.h_center_all > [class*="col-"] * {
    text-align: center; }
  .flex_table .row.h_right_all > [class*="col-"] * {
    text-align: right; }
  .flex_table .row > [class*="col-"].h_left_self {
    justify-content: flex-start; }
  .flex_table .row > [class*="col-"].h_center_self {
    justify-content: center; }
  .flex_table .row > [class*="col-"].h_right_self {
    justify-content: flex-end; }
  .flex_table .row.v_top {
    align-items: flex-start; }
  .flex_table .row.v_center {
    align-items: center; }
  .flex_table .row.v_bottom {
    align-items: flex-end; }
  .flex_table .row.v_stretch {
    align-items: stretch; }
  .flex_table .row.v_top > [class*="col-"] {
    align-items: flex-start; }
  .flex_table .row.v_center > [class*="col-"] {
    align-items: center; }
  .flex_table .row.v_bottom > [class*="col-"] {
    align-items: flex-end; }
  .flex_table .row.v_stretch > [class*="col-"] {
    align-items: stretch; }
  .flex_table .row.v_inner,
  .flex_table .row.v_inner > [class*="col-"] {
    flex-direction: column; }
  .flex_table .row.v_inner > [class*="col-"] {
    flex-basis: 100%; }
  .flex_table .row.v_inner.h_left {
    align-items: flex-start; }
  .flex_table .row.v_inner.h_center {
    align-items: center; }
  .flex_table .row.v_inner.h_right {
    align-items: flex-end; }
  .flex_table .row.v_inner.h_stretch {
    align-items: stretch;
    align-self: stretch; }
  .flex_table .row.v_inner.h_left > [class*="col-"] {
    align-items: flex-start; }
  .flex_table .row.v_inner.h_center > [class*="col-"] {
    align-items: center; }
  .flex_table .row.v_inner.h_right > [class*="col-"] {
    align-items: flex-end; }
  .flex_table .row.v_inner.h_stretch > [class*="col-"] {
    align-items: stretch;
    align-self: stretch; }
  .flex_table .row.v_inner.h_left_all > [class*="col-"] {
    align-items: flex-start; }
  .flex_table .row.v_inner.h_center_all > [class*="col-"] {
    align-items: center; }
  .flex_table .row.v_inner.h_right_all > [class*="col-"] {
    align-items: flex-end; }
  .flex_table .row.v_inner.h_stretch_all > [class*="col-"] {
    align-items: stretch; }
  .flex_table .row.v_inner.h_left_all > [class*="col-"] * {
    text-align: left; }
  .flex_table .row.v_inner.h_center_all > [class*="col-"] * {
    text-align: center; }
  .flex_table .row.v_inner.h_right_all > [class*="col-"] * {
    text-align: left; }
  .flex_table .row.v_inner.h_stretch_all > [class*="col-"] * {
    text-align: justify; }
  .flex_table .row.v_inner.v_top {
    justify-content: flex-start; }
  .flex_table .row.v_inner.v_center {
    justify-content: center; }
  .flex_table .row.v_inner.v_bottom {
    justify-content: flex-end; }
  .flex_table .row.v_inner.v_top > [class*="col-"] {
    justify-content: flex-start; }
  .flex_table .row.v_inner.v_center > [class*="col-"] {
    justify-content: center; }
  .flex_table .row.v_inner.v_bottom > [class*="col-"] {
    justify-content: flex-end; }
